# NetBeans
nbproject/private/
nbbuild/
nbdist/
nbactions.xml

# Build folders
build/
dist/
**/dist/
**/build/

# Java compiled files
*.class

# WAR/JAR
*.war
*.jar

# Logs
*.log

# OS files
Thumbs.db
.DS_Store