
USE [LuxuryCarSales]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 3/21/2026 8:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[logo] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 3/21/2026 8:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[car_id] [int] IDENTITY(1,1) NOT NULL,
	[model_id] [int] NOT NULL,
	[price] [decimal](15, 2) NOT NULL,
	[color] [nvarchar](50) NULL,
	[engine] [nvarchar](100) NULL,
	[transmission] [nvarchar](20) NULL,
	[mileage] [int] NULL,
	[status] [nvarchar](20) NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarCategory]    Script Date: 3/21/2026 8:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarCategory](
	[car_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[car_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarImage]    Script Date: 3/21/2026 8:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarImage](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[car_id] [int] NOT NULL,
	[image_url] [nvarchar](255) NOT NULL,
	[is_primary] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarModel]    Script Date: 3/21/2026 8:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarModel](
	[model_id] [int] IDENTITY(1,1) NOT NULL,
	[model_name] [nvarchar](100) NOT NULL,
	[brand_id] [int] NOT NULL,
	[year] [int] NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[model_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/21/2026 8:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/21/2026 8:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[order_date] [datetime] NULL,
	[total_price] [decimal](15, 2) NOT NULL,
	[status] [nvarchar](20) NULL,
	[shipping_address] [nvarchar](max) NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/21/2026 8:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[car_id] [int] NOT NULL,
	[price] [decimal](15, 2) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 3/21/2026 8:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[payment_method] [nvarchar](20) NOT NULL,
	[payment_date] [datetime] NULL,
	[payment_status] [nvarchar](20) NULL,
	[amount] [decimal](15, 2) NOT NULL,
	[transaction_id] [nvarchar](100) NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 3/21/2026 8:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[car_id] [int] NOT NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[review_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/21/2026 8:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[role] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 3/21/2026 8:29:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[wishlist_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[car_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_Wishlist] PRIMARY KEY CLUSTERED 
(
	[wishlist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([brand_id], [brand_name], [country], [description], [logo], [created_at]) VALUES (1, N'Mercedes-Benz', N'Germany', N'Hãng xe sang đến từ Đức, nổi tiếng với chất lượng cao cấp', N'assets/images/brands/Mercedes-Benz.jpg', CAST(N'2026-01-29T16:37:53.173' AS DateTime))
INSERT [dbo].[Brand] ([brand_id], [brand_name], [country], [description], [logo], [created_at]) VALUES (2, N'BMW', N'Germany', N'Bayerische Motoren Werke - Xe thể thao cao cấp Đức', N'assets/images/brands/BMW.jpg', CAST(N'2026-01-29T16:37:53.173' AS DateTime))
INSERT [dbo].[Brand] ([brand_id], [brand_name], [country], [description], [logo], [created_at]) VALUES (3, N'Audi', N'Germany', N'Xe sang Đức với công nghệ tiên tiến', N'assets/images/brands/Audi.jpg', CAST(N'2026-01-29T16:37:53.173' AS DateTime))
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Car] ON 

INSERT [dbo].[Car] ([car_id], [model_id], [price], [color], [engine], [transmission], [mileage], [status], [description], [created_at], [updated_at]) VALUES (1, 1, CAST(5500000000.00 AS Decimal(15, 2)), N'Black', N'V8 4.0L Twin-Turbo', N'AUTOMATIC', 0, N'AVAILABLE', N'Mercedes S500 2024 mới 100%', CAST(N'2026-01-29T16:37:53.203' AS DateTime), CAST(N'2026-01-29T16:37:53.203' AS DateTime))
INSERT [dbo].[Car] ([car_id], [model_id], [price], [color], [engine], [transmission], [mileage], [status], [description], [created_at], [updated_at]) VALUES (2, 1, CAST(7800000000.00 AS Decimal(15, 2)), N'White Pearl', N'V12 6.0L Twin-Turbo', N'AUTOMATIC', 0, N'AVAILABLE', N'Mercedes S680 Maybach 2024', CAST(N'2026-01-29T16:37:53.203' AS DateTime), CAST(N'2026-01-29T16:37:53.203' AS DateTime))
INSERT [dbo].[Car] ([car_id], [model_id], [price], [color], [engine], [transmission], [mileage], [status], [description], [created_at], [updated_at]) VALUES (3, 2, CAST(3200000000.00 AS Decimal(15, 2)), N'Silver', N'I4 2.0L Turbo', N'AUTOMATIC', 5000, N'AVAILABLE', N'Mercedes E300 2024 đã qua sử dụng', CAST(N'2026-01-29T16:37:53.203' AS DateTime), CAST(N'2026-01-29T16:37:53.203' AS DateTime))
SET IDENTITY_INSERT [dbo].[Car] OFF
GO
INSERT [dbo].[CarCategory] ([car_id], [category_id]) VALUES (1, 1)
INSERT [dbo].[CarCategory] ([car_id], [category_id]) VALUES (2, 1)
INSERT [dbo].[CarCategory] ([car_id], [category_id]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[CarImage] ON 

INSERT [dbo].[CarImage] ([image_id], [car_id], [image_url], [is_primary], [created_at]) VALUES (19, 70, N'assets/images/Lamborghini_Huracan_STO_60th_Anniversary_2.webp', 1, CAST(N'2026-03-06T21:44:00.483' AS DateTime))
INSERT [dbo].[CarImage] ([image_id], [car_id], [image_url], [is_primary], [created_at]) VALUES (20, 70, N'assets/images/Lamborghini-Hurac-n-EVO-RWD-2020-Engine_-5_2L-V10-.jpg', 0, CAST(N'2026-03-06T21:46:43.370' AS DateTime))
INSERT [dbo].[CarImage] ([image_id], [car_id], [image_url], [is_primary], [created_at]) VALUES (22, 70, N'assets/images/2021-Lamborghini-Huraca-n-EVO-RWD_1.jpg', 0, CAST(N'2026-03-07T09:58:07.237' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[CarImage] OFF
GO
SET IDENTITY_INSERT [dbo].[CarModel] ON 

INSERT [dbo].[CarModel] ([model_id], [model_name], [brand_id], [year], [description], [created_at]) VALUES (1, N'S-Class', 1, 2024, N'Dòng sedan sang trọng nhất của Mercedes', CAST(N'2026-01-29T16:37:53.183' AS DateTime))
INSERT [dbo].[CarModel] ([model_id], [model_name], [brand_id], [year], [description], [created_at]) VALUES (2, N'E-Class', 1, 2024, N'Sedan hạng sang cỡ trung', CAST(N'2026-01-29T16:37:53.183' AS DateTime))
INSERT [dbo].[CarModel] ([model_id], [model_name], [brand_id], [year], [description], [created_at]) VALUES (3, N'G-Class', 1, 2024, N'SUV địa hình cao cấp', CAST(N'2026-01-29T16:37:53.183' AS DateTime))
SET IDENTITY_INSERT [dbo].[CarModel] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [category_name], [description], [created_at]) VALUES (1, N'Sedan', N'Xe sedan sang trọng', CAST(N'2026-01-29T16:37:53.220' AS DateTime))
INSERT [dbo].[Category] ([category_id], [category_name], [description], [created_at]) VALUES (2, N'SUV', N'Xe SUV địa hình cao cấp', CAST(N'2026-01-29T16:37:53.220' AS DateTime))
INSERT [dbo].[Category] ([category_id], [category_name], [description], [created_at]) VALUES (3, N'Coupe', N'Xe coupe thể thao', CAST(N'2026-01-29T16:37:53.220' AS DateTime))
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([order_id], [user_id], [order_date], [total_price], [status], [shipping_address], [notes], [created_at], [updated_at]) VALUES (1, 2, CAST(N'2026-01-29T16:37:53.240' AS DateTime), CAST(7500000000.00 AS Decimal(15, 2)), N'COMPLETED', N'123 Nguyễn Huệ, Q1, TP.HCM', N'Giao xe tận nhà', CAST(N'2026-01-29T16:37:53.240' AS DateTime), CAST(N'2026-03-10T09:41:57.467' AS DateTime))
INSERT [dbo].[Order] ([order_id], [user_id], [order_date], [total_price], [status], [shipping_address], [notes], [created_at], [updated_at]) VALUES (2, 3, CAST(N'2026-01-29T16:37:53.240' AS DateTime), CAST(35000000000.00 AS Decimal(15, 2)), N'PENDING', N'456 Lê Lợi, Q1, TP.HCM', N'Cần tư vấn thêm về bảo hiểm', CAST(N'2026-01-29T16:37:53.240' AS DateTime), CAST(N'2026-01-29T16:37:53.240' AS DateTime))
INSERT [dbo].[Order] ([order_id], [user_id], [order_date], [total_price], [status], [shipping_address], [notes], [created_at], [updated_at]) VALUES (3, 4, CAST(N'2026-01-29T16:37:53.240' AS DateTime), CAST(5500000000.00 AS Decimal(15, 2)), N'PAID', N'789 Trần Hưng Đạo, Q5, TP.HCM', N'Thanh toán trước 50%', CAST(N'2026-01-29T16:37:53.240' AS DateTime), CAST(N'2026-03-04T22:37:19.413' AS DateTime))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([order_detail_id], [order_id], [car_id], [price], [created_at]) VALUES (1, 1, 6, CAST(7500000000.00 AS Decimal(15, 2)), CAST(N'2026-01-29T16:37:53.247' AS DateTime))
INSERT [dbo].[OrderDetail] ([order_detail_id], [order_id], [car_id], [price], [created_at]) VALUES (2, 2, 9, CAST(35000000000.00 AS Decimal(15, 2)), CAST(N'2026-01-29T16:37:53.247' AS DateTime))
INSERT [dbo].[OrderDetail] ([order_detail_id], [order_id], [car_id], [price], [created_at]) VALUES (3, 3, 1, CAST(5500000000.00 AS Decimal(15, 2)), CAST(N'2026-01-29T16:37:53.247' AS DateTime))
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [order_id], [payment_method], [payment_date], [payment_status], [amount], [transaction_id], [notes]) VALUES (1, 1, N'BANK_TRANSFER', CAST(N'2026-01-29T16:37:53.257' AS DateTime), N'COMPLETED', CAST(7500000000.00 AS Decimal(15, 2)), N'TXN001234567', N'Đã chuyển khoản toàn bộ')
INSERT [dbo].[Payment] ([payment_id], [order_id], [payment_method], [payment_date], [payment_status], [amount], [transaction_id], [notes]) VALUES (2, 2, N'INSTALLMENT', CAST(N'2026-01-29T16:37:53.257' AS DateTime), N'PENDING', CAST(10000000000.00 AS Decimal(15, 2)), N'TXN001234568', N'Trả trước 10 tỷ, còn lại trả góp 24 tháng')
INSERT [dbo].[Payment] ([payment_id], [order_id], [payment_method], [payment_date], [payment_status], [amount], [transaction_id], [notes]) VALUES (3, 3, N'BANK_TRANSFER', CAST(N'2026-01-29T16:37:53.257' AS DateTime), N'COMPLETED', CAST(2750000000.00 AS Decimal(15, 2)), N'TXN001234569', N'Đặt cọc 50%')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([review_id], [user_id], [car_id], [rating], [comment], [review_date]) VALUES (1, 2, 6, 5, N'Xe rất tuyệt vời! Sang trọng và êm ái. Đáng đồng tiền bát gạo.', CAST(N'2026-01-29T16:37:53.263' AS DateTime))
INSERT [dbo].[Review] ([review_id], [user_id], [car_id], [rating], [comment], [review_date]) VALUES (2, 3, 1, 4, N'Mercedes S-Class thật sự đẳng cấp, tuy nhiên giá hơi cao.', CAST(N'2026-01-29T16:37:53.263' AS DateTime))
INSERT [dbo].[Review] ([review_id], [user_id], [car_id], [rating], [comment], [review_date]) VALUES (3, 4, 4, 5, N'G63 AMG quá đỉnh! Mạnh mẽ và bụi bặm. Rất hài lòng.', CAST(N'2026-01-29T16:37:53.263' AS DateTime))
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([user_id], [username], [password], [full_name], [email], [phone], [role], [status], [created_at], [updated_at]) VALUES (1, N'admin', N'admin123', N'Nguyễn Văn Admin', N'admin@luxurycars.vn', N'0901234567', N'ADMIN', N'ACTIVE', CAST(N'2026-01-29T16:37:53.167' AS DateTime), CAST(N'2026-01-29T16:37:53.167' AS DateTime))
INSERT [dbo].[User] ([user_id], [username], [password], [full_name], [email], [phone], [role], [status], [created_at], [updated_at]) VALUES (2, N'khachhang1', N'pass123', N'Trần Thị Hương', N'huong@gmail.com', N'0912345678', N'CUSTOMER', N'ACTIVE', CAST(N'2026-01-29T16:37:53.167' AS DateTime), CAST(N'2026-01-29T16:37:53.167' AS DateTime))
INSERT [dbo].[User] ([user_id], [username], [password], [full_name], [email], [phone], [role], [status], [created_at], [updated_at]) VALUES (3, N'khachhang2', N'pass123', N'Lê Văn Minh', N'minh@gmail.com', N'0923456789', N'CUSTOMER', N'ACTIVE', CAST(N'2026-01-29T16:37:53.167' AS DateTime), CAST(N'2026-01-29T16:37:53.167' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Wishlist] ON 

INSERT [dbo].[Wishlist] ([wishlist_id], [user_id], [car_id], [created_at]) VALUES (1, 2, 1, CAST(N'2026-03-10T14:30:51.303' AS DateTime))
INSERT [dbo].[Wishlist] ([wishlist_id], [user_id], [car_id], [created_at]) VALUES (2, 8, 1, CAST(N'2026-03-20T21:33:50.660' AS DateTime))
INSERT [dbo].[Wishlist] ([wishlist_id], [user_id], [car_id], [created_at]) VALUES (3, 8, 2, CAST(N'2026-03-20T21:33:54.137' AS DateTime))
SET IDENTITY_INSERT [dbo].[Wishlist] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Brand__0C0C3B582E3CAAC6]    Script Date: 3/21/2026 8:29:54 PM ******/
ALTER TABLE [dbo].[Brand] ADD UNIQUE NONCLUSTERED 
(
	[brand_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Category__5189E2559234682D]    Script Date: 3/21/2026 8:29:54 PM ******/
ALTER TABLE [dbo].[Category] ADD UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__AB6E61644D9E1783]    Script Date: 3/21/2026 8:29:54 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__F3DBC5723BD29F14]    Script Date: 3/21/2026 8:29:54 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UC_Wishlist]    Script Date: 3/21/2026 8:29:54 PM ******/
ALTER TABLE [dbo].[Wishlist] ADD  CONSTRAINT [UC_Wishlist] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Brand] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Car] ADD  DEFAULT ('AUTOMATIC') FOR [transmission]
GO
ALTER TABLE [dbo].[Car] ADD  DEFAULT ((0)) FOR [mileage]
GO
ALTER TABLE [dbo].[Car] ADD  DEFAULT ('AVAILABLE') FOR [status]
GO
ALTER TABLE [dbo].[Car] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Car] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[CarImage] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[CarImage] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CarModel] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('PENDING') FOR [payment_status]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [review_date]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('CUSTOMER') FOR [role]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Wishlist] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD FOREIGN KEY([model_id])
REFERENCES [dbo].[CarModel] ([model_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarCategory]  WITH CHECK ADD FOREIGN KEY([car_id])
REFERENCES [dbo].[Car] ([car_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarCategory]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarImage]  WITH CHECK ADD FOREIGN KEY([car_id])
REFERENCES [dbo].[Car] ([car_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarModel]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([brand_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([car_id])
REFERENCES [dbo].[Car] ([car_id])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([car_id])
REFERENCES [dbo].[Car] ([car_id])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Car] FOREIGN KEY([car_id])
REFERENCES [dbo].[Car] ([car_id])
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_Car]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_User]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD CHECK  (([status]='RESERVED' OR [status]='SOLD' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD CHECK  (([transmission]='DCT' OR [transmission]='CVT' OR [transmission]='MANUAL' OR [transmission]='AUTOMATIC'))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([status]='COMPLETED' OR [status]='CANCELLED' OR [status]='PAID' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([payment_status]='REFUNDED' OR [payment_status]='FAILED' OR [payment_status]='COMPLETED' OR [payment_status]='PENDING'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([payment_method]='INSTALLMENT' OR [payment_method]='CREDIT_CARD' OR [payment_method]='BANK_TRANSFER' OR [payment_method]='CASH'))
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([role]='CUSTOMER' OR [role]='ADMIN'))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([status]='BLOCKED' OR [status]='INACTIVE' OR [status]='ACTIVE'))
GO
