<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>filter.AuthenFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CustomerFilter</filter-name>
        <filter-class>filter.CustomerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/customer/*</url-pattern>
        <servlet-name>AdminCarController</servlet-name>
        <servlet-name>AdminCatalogController</servlet-name>
        <servlet-name>AdminImageController</servlet-name>
        <servlet-name>AdminOrderController</servlet-name>
        <servlet-name>AdminPageController</servlet-name>
        <servlet-name>AdminReviewController</servlet-name>
        <servlet-name>AdminUserController</servlet-name>
        <servlet-name>ProfileController</servlet-name>
        <servlet-name>CustomerController</servlet-name>
        <servlet-name>ReviewController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <url-pattern>/customer/*</url-pattern>
        <servlet-name>ProfileController</servlet-name>
        <servlet-name>CustomerController</servlet-name>
        <servlet-name>ReviewController</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <servlet-name>AdminCarController</servlet-name>
        <servlet-name>AdminCatalogController</servlet-name>
        <servlet-name>AdminImageController</servlet-name>
        <servlet-name>AdminOrderController</servlet-name>
        <servlet-name>AdminPageController</servlet-name>
        <servlet-name>AdminReviewController</servlet-name>
        <servlet-name>AdminUserController</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewController</servlet-name>
        <servlet-class>controller.ReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarDetailController</servlet-name>
        <servlet-class>controller.CarDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCarController</servlet-name>
        <servlet-class>controller.SearchCarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailController</servlet-name>
        <servlet-class>controller.ViewDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <servlet-class>controller.LoginGoogleHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewController</servlet-name>
        <url-pattern>/ReviewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarDetailController</servlet-name>
        <url-pattern>/CarDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCarController</servlet-name>
        <url-pattern>/SearchCarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailController</servlet-name>
        <url-pattern>/ViewDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/CustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleHandler</servlet-name>
        <url-pattern>/LoginGoogleHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>BrandPageController</servlet-name>
        <servlet-class>controller.BrandPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrandPageController</servlet-name>
        <url-pattern>/brands</url-pattern>
    </servlet-mapping>
</web-app>
